{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover" >

        <tr>
            <td class="align-middle">
                <p> <a style="font-size:500%; color:Black;" href="{{ url_for('upload') }}" >Upload</a> </p>
             </td>
        </tr>
        <tr>
        <td class="align-middle">
            <p> <a style="font-size:500%; color:Black;" href="{{ url_for('managetrans') }}" >Transaction</a> </p>
        </td>
        </tr>
    </table>

{% endblock %}
