{% extends 'base.html' %}

{% block app_content %}

 
<div class="container">
  <div class="row">
            <div class="col-sm-2">
            </div>
            
            
        <div class="col-sm-13">
                  <div >
                <h1 class=" text-center">Return Policy</h1>
                <br><br>
                <h4><b>What can I return? </b></h4> 
                <br>
                <h4>You may return most new, unopened items sold by us within 30 days of delivery for a full refund. </h4> 
                <br>
                <h4><b>When will I get my refund?</b></h4>
                <br>
                <h4> Usually in about 1-2 weeks. Most refunds are fully refunded in 3-5 days after we receive and process your return.</h4> 
                <br>
                <h4>If the merchandise is in original condition, you can just simply ship it back to us, we will deduct the shipping cost and refund you the rest.</h4>
                <br>
                <h4>If the original condition is changed, we will<b> charge 20% restocking fee</b> due to the devaluation.</h4> 
                <br>
                <h4>If the merchandise is defective upon arriving, we can help you to get the warranty service or you can ship it back us to get refund (you pay the returning shipping fee). If damage is caused due to the improper usage, no returning or refund. </h4>
                <br>
                <h4>We did not offer replacements and exchanges.</h4>
                 
    			 <br> <br>
                <h4 class=" text-center" style="color:red;">Any question, Please not hesitate to send a message to us,  we will reply you promptly.</h4>
              </div>
        </div>
        
          <div class="col-sm-2">
            </div>
    
  </div>
</div>


{% endblock %}

