{% extends 'base.html' %}

{% block app_content %}

 
<div class="container">
  <div class="row">
            <div class="col-sm-2">
            </div>
            
            
        <div class="col-sm-13">
                  <div >
                <h1 class=" text-center">Shipping Policy</h1>
                <br><br>
                <h4>Orders must be placed by 12pm EST Monday – Friday to start processing on the same day. Processing time usually takes 1-2 business days. Delivery times are based on orders placed between Monday – Friday. C-Shopper offers FREE STANDARD 3 DAY SHIPPING on all U.S. merchandise orders. Our standard shipping option is Standard 3 Day shipping. </h4> 
                <br>
                <h4> For shipping to Hawaii & Alaska, P.O. Box and APO/FPO/DPO Military Addresses, C-Shopper uses USPS Priority. The delivery charge is based on the location. Additional charge may apply to orders shipping to these areas.</h4> 
                <br>
                <h4>Packages do not ship from our distribution centers on the following holidays:</h4>
                
                   <h4> • New Year's Day</h4>
                   <h4> • Martin Luther King Jr. Day</h4>
                   <h4> • President's Day</h4>
                    <h4>• Memorial Day</h4>
                    <h4>• 4th of July</h4>
                    <h4>• Labor Day</h4>
                    <h4>• Thanksgiving</h4>
                   <h4> • Christmas</h4>
    
    
              </div>
        </div>
        
          <div class="col-sm-2">
            </div>
    
  </div>
</div>


{% endblock %}

