{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<head>
<style>
body {
  font-family: "Lato", sans-serif;
}

.main {
  margin-left: 40px; /* Same width as the sidebar + left position in px */
  margin-right: 40px
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


</style>
</head>





<body>


  <nav class="navbar">
      <div class="container" style="background-color:#e5fbfa">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" style="background-color:#e5fbfa">

              <ul class="nav navbar-nav">
     <br>
              <li><a style="color:Black;" href="{{ url_for('index') }}">all</a></li>
              {% for categoryname in categories %}
              <li><a style="color:Black;" href="{{ url_for('showascategory', categoryname=categoryname) }}">{{categoryname}}</a></li>
              {% endfor %}

      <br><br>
              </ul>

          </div>
      </div>
  </nav>



<div class="main">
  <div>

    <h6 >Category > {{selectedcat}} </h6>

  <div>
  <div>

        <table style="width:100%">
          <col style="width:25%">
          	<col style="width:25%">
          	<col style="width:25%">
            <col style="width:25%">

            <tr>
              <td>
               <br>
              </td>
              <td>
               <br>
              </td>
              <td>
               <br>
              </td>
              <td>
               <br>
              </td>
            </tr>
          {% if items %}
              {% for group in items %}
            <tr>
                {% for any in group %}
                <td >

                <a href="{{ url_for('product', productName=any.name) }}">
                  {% if any.imgname %}
                    <img width="65%" src="{{url_for('static', filename=any.imgname)}}"/> </a>
                  {% else %}
                    <img width="65%" src="{{url_for('static', filename='1.jpeg')}}"/> </a>
                  {% endif %}

                </td>
                {% endfor %}
              </tr>
              <tr>
                {% for any in group %}
                <td>

                  <a href="{{ url_for('product', productName=any.name) }}" style="font-size:60%; color:Black;">{{ any.name }}</a>
                </td>
                {% endfor %}
            </tr>
              <tr>
                {% for any in group %}
                <td>

                  <a href="{{ url_for('product', productName=any.name) }}" style="font-size:60%; color:Black;">${{ any.price }}</a>
                </td>
                {% endfor %}
            </tr>

            <tr>
              {% for any in group %}
              <td>
               <br>
              </td>
              {% endfor %}
          </tr>

              {% endfor %}
        {% endif %}

        </table>
   </div>
   <nav aria-label="...">
       <ul class="pager">
           <li class="previous{% if not prev_url %} disabled{% endif %}">
		    <a href="{{ prev_url or '#' }}">
			    <span aria-hidden="true">&larr;</span> <h6>Last page</h6>
	       </a>
           </li>
           <li class="next{% if not next_url %} disabled{% endif %}">
		   <a href="{{ next_url or '#' }}">
			   <h6>Next page</h6><span aria-hidden="true">&rarr;</span>
			   </a>
           </li>
       </ul>
   </nav>
  </div>

</body>
{% endblock %}

